*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* header */
.header{
    background-color: black;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}
.header .logo{
   width: 20%;
}

header .header .right{
    width: 70%;
}
header .header .right ul{
    list-style: none;
    margin-top: 30px;
    text-align: end;

}
header .header .right ul li{
    display: inline;
    margin: 10px;

}
header .header .right ul li a{
    text-decoration: none;
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: whitesmoke;
}