@media (min-width: 768px) {

  
 
    /* header  */
    header .header {
      display: flex;
      width: 100%;
     
    }
    header .header .left {
      width: 35%;
    }
    header .header .left h1 {
      font-size: 35px;
      margin: 10px 10px 10px 20% ;
  
    }
    header .header .right {
      width: 65%;
    }
    header .header .right ul  {
      margin-top: 32px;
    }
    header .header .right ul li {
      margin: 10px;
    }
    header .header .right ul li a {
      font-size: 15px;
    }
    /* section1  */
  .section1{
    position: relative;
  }
  .section1 .main{
    position: absolute;
    top: 30%;
    left: 15%;
  }
  .section1 .main h1{
    font-size: 45px;
    margin-left: 1%;
  }
  .section1 .main h4{
    font-size: 24px;
    margin: 20px;
  }
  .section1 .main button{
    font-size: 20px;
    margin: 20px;
    padding: 10px 20px;
  }
  /* .section2  */
  .section2 .what{
    text-align: center;
    }
    
    .section2 .text{
        display: flex;
        height: 100%;
  
        flex-direction: column;
        width: 100%;
        margin-bottom: 20px;
    }
    .section2 .text .Integer{
        width: 90%;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap:30px 30px;
        margin:0px 40px;
    }
    .section2 .text .Integer .container{
        box-shadow: 10px 10px 5px rgb(244, 243, 240);
        text-align: center;
    }
    .section2 .text .Integer .container i{
        font-size: 60px;
        margin-top: 30px;
    
    }
    .section2 .text .Integer .container h1{
        font-size: 23px;
        margin-top: 10px;    
    }
    .section2 .text .Integer .container p{
        font-size: 20px;
        margin-top: 10px;
        opacity: .6;
    
    }
    .section2 .text .img2{
        width: 90%;
        margin:20px 40px 0px 40px;
    
    
    }
    .section2 .text .img2 img{
        height: 500px;
        width: 100%;
    
    }
      /* section3  */
.section3 .year{
  position: relative;
}
.section3 .img3 img{
height:700px;  
width: 112%;
}
.section3 .text{
  position: absolute;
  top: 0px;
  left: 0px;
  display: flex;
  flex-direction: column;
  width: 100%;
}
.section3 .text .left{
  margin: 100px 0px 0px 100px;
  width: 100%;
}
.section3 .text .left h1{
  font-size: 35px;

}
.section3 .text .left p{
  font-size: 19px;
  margin: 25px 100px 25px 0px;
  line-height: 35px;
  text-align: left;

}
.section3 .text .left h4{
  font-size: 50px;

}
.section3 .text .left h4 em{
  font-size: 25px;
}
.section3 .text .right{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  margin: 100px 0px 0px 100px;
  gap: 0px 0px;


}
.section3 .text .right .happy h6{
  font-size: 18px;
  font-weight: 300;
  text-align: left;


}
.section3 .text .right .happy h1{
  margin-top: 25px;
  font-size: 40px;
}
.section3 .text .right .happy i{
font-size: 25px;
padding: 20px;
margin-top: 20px;
} 
/* section 4 */
.section4 .upper h1{

  font-size: 40px;
  margin-top: 20px;
  margin-bottom: 20px;
  }
  .section4 .lower .main {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .section4 .lower .main .left {
    width: 100%;
    margin:20px 20px 20px 50px;
  }
  .section4 .lower .left h5 , .section4 .lower .right h5{
    font-size: 18px;
    margin: 20px 50px;
  }
  .section4 .lower .left h5 i,.section4 .lower .right h5 i{
   
    font-size: 40px;
    color: rgb(241, 245, 3);
    margin-right: 10px;
  }
  
  
  .section4 .lower .main .right {
   
    width: 100%;
    margin:20px 20px 20px 50px;
  
  }
  .section4 .lower .left  .text,.section4 .lower .right  .text{
    display: flex;
    flex-direction: unset;
    width: 100%;
  
  }
  .section4 .lower .left  .text .img1,.section4 .lower .right  .text .img1{
    width: 30%;
  
  }
  .section4 .lower .left  .text .img1 img,.section4 .lower .right  .text .img1 img{
    border-radius: 50%;
    height: 120px;
    margin: 10px 50px;
  
  }
  .section4 .lower .left  .text .carl,.section4 .lower .right  .text .carl{
    width: 40%;
  
  }
  .section4 .lower .left  .text .carl h4,.section4 .lower .right  .text .carl h4{
    font-size: 20px;
    margin: 30px 0px 0px 0px ;
  
  }
  .section4 .lower .left  .text .carl p,.section4 .lower .right  .text .carl p{
    font-size: 15px;
  }
  
/* section5 */
.section5 .contact{
  position: relative;
}
.section5 .img5 img{
  height: 400px;
  width: 100%;
}
.section5 .text{
  position: absolute;
  top: 0px;
  left: 0px;
}
.section5 .text h1{
  font-size: 40px;
  margin: 50px;
}
.section5 .text p{
  font-size: 18px;
  margin: 20px 70px ;
  line-height: 35px;
}
.section5 .text button{
  font-size: 15px;
  margin: 20px;
  padding: 13px 20px;
}
/* section6 */
.section6{
  height: 300px;
}
.section6 h1{
  font-size: 40px;
  font-weight: 700;
  margin: 50px 0px 0px 0px;
}
.section6 .letter{
  flex-direction: column;
  width: 100%;
  margin-top: 50px;
}
.section6 .letter .duis{
  width: 100%;
}
.section6 .letter .duis p{
  font-size: 25px;
  margin-left: 50px;
}
.section6 .letter .email{
  width: 100%;
  margin: 30px 0px 0px 50px;
}
.section6 .letter .email input{
  font-size: 20px;
  width:500px;

}
.section6 .letter .email button{
  font-size: 20px;
  padding: 10px 20px;
}
/* section7  */
  .section7{
    color: rgb(255,255,255);
    background-color: black;
  }
  .section7 .touch {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 40px;
    
  }
  .section7 .left{
    width: 100%;
     margin-left: 30px;
  }
  .section7 .left h1{
    font-size: 26px;
    font-weight: 700;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 15px 0px 0px 0px;
  }
  .section7 .right{
    width: 100%;
    margin-right: 80px;
    opacity: .5;

    
  }
  .section7 .right .face{
    text-align: center;
  }
  .section7 .right .face i{
    padding-top: 25px;
    margin: 0px 15px;
    font-size: 25px;

  }
  .section7 .right .header ul{
    list-style: none;
    text-align: center;
    padding-top: 15px;
  }

  .section7 .right .header li a{
    margin: 10px 20px;

  }
  .section7 h6{
 font-size: 15px;
 margin: 20px 0px;
 text-align: center;
 padding-bottom: 20px;

  }
  /* About us  */

/* section1  */
.about{
  height: 50px;
  background-color: #999c9f;    
} 
.about .top ul{
  margin-left: 100px;
  padding-top: 10px;
}
.about  .top ul li{
  display: inline;
  padding: 2px;
  
}
.about  .top ul li {
  font-size: 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: rgb(118, 113, 113);
  
}
.about  .top ul li a{
  text-decoration: none;
  color: #da9d40;
}
/* .section2 */

.a-section2 .text{
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  margin: 100px 0px 20px 0px;
}
.a-section2 .text .Integer{
  width: 100%;
  margin-left: 30px;
  margin-right: 0px;
}
.a-section2 .text .Integer .container  h3{
  font-size: 25px;
  font-weight: 600;
  word-spacing: 0px;

}
.a-section2 .text .Integer .container  h2{
  font-size: 20px;
  font-weight: 500;
  word-spacing: 10px;
  margin-top: 10px;
  font-weight: 100;
  letter-spacing: 5px;

}
.a-section2 .text .Integer .container p{
  font-size: 15px;
  margin-top: 10px;
  margin-right: 0px;
  line-height: 40px;
}

.a-section2 .text .img2{
  width:100%;
  margin:0px 10px 0px 20px;


}
.a-section2 .text .img2 img{
  height: 400px;
  width: 90%;

}
/* section3 */

.a-section3 .text{
  position: absolute;
  top: 0px;
  left: 0px;
  flex-direction: unset;
  text-align: center;
}
.a-section3 .text h1{
  font-size: 40px;
  margin: 100px 0px 0px 0px;
  font-weight: 400;
}
.a-section3 .text p{
  font-size: 18px;
  margin: 30px 70px  ;
  line-height: 35px;
}
.a-section3 .text button{
  font-size: 20px;
  margin: 20px;
  padding: 13px 20px;
  font-size: 20px;
}
/* .a-section4  */
.a-section4 .our h1{
  font-size: 30px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  margin: 50px 0px 20px 0px;

}
.a-section4 .box{
    display: flex;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap:30px 30px;
    position: relative;
    transition: all .2s ease-out 0s;
    margin:0px 30px 0px 30px;
}


.a-section4 .box .img4 img{
  width: 100%;
  height: 299px;
  background-color: #fff;
  border: 1px solid #dee2e6;
  border-radius: 0.25rem;
  position: relative;
  padding: 0.25rem;

}
.a-section4 .box .text {
  position: absolute;
  background-color: black;
  top: 0%;
  display: none;
  height: 90%;
  width: 90%;
  margin: 5%;
}
.a-section4 .box .img1:hover .text {
  display: block;
  opacity: 0.5;
  animation: aniy 0.9s;
  z-index: 5;
}
@keyframes aniy {
  0% {
      transform: rotate3d(1, -1, 0, 0deg)
  }

  100% {
      transform: rotate3d(1, -1, 0, 180deg)
  }
}
.a-section4 .box .text:hover {
  display: block;
}
.a-section4 .box .text h3{
  color: white;
  display: none;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.a-section4 .box .text p{
  color: white;
  display: none;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.a-section4 .box .text i{
  color: white;
  display: none;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
/* .section2  */


.s-section2 .text{
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: unset;
  margin-bottom: 20px;
}
.s-section2 .text .Integer{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap:30px 30px;
  margin:0px 50px;

}
.s-section2 .text .Integer .container{
  box-shadow: 0px 0px 0px rgb(244, 243, 240);
  text-align: center;
}
.s-section2 .text .Integer .container i{
  font-size: 60px;
  margin-top: 30px;

}
.s-section2 .text .Integer .container h1{
  font-size: 20px;
  margin-top: 10px;
  font-weight: 500;

}
.s-section2 .text .Integer .container p{
  font-size: 16px;
  margin-top: 10px;
  line-height: 30px;

}
/* .s-section3*/
.s-section3{
  display:grid;
  grid-template-columns: repeat(2,1fr);
  margin: 80px 0px 0px 0px;
  gap: 10px;
}
.s-section3 .left{
  position: relative;
  color: white;
}
.s-section3 .left .img1{
  width: 100%;
}
.s-section3 .left .img1 img{
  width: 100%;
  height: 500px;
}
.s-section3 .left .text{
  position: absolute;
  top: 0%;
  left: 0px;
} 
.s-section3 .left .text h2{
  font-size:20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 400px 0px 0px 80px;
 letter-spacing: 5px;
}

.s-section3 .right{
  position: relative;
  color: white;

}

.s-section3 .right .top .img1 img{
  width: 100%;
  height: 240px;
}
.s-section3 .right .top .text{
  position: absolute;
  top: 0px;
  left: 0px;
 
} 
.s-section3 .right .top .text h2{
  font-size:20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 165px 0px 0px 80px;
  letter-spacing: 5px;

}
.s-section3 .right .bottom{
  display:grid;
  grid-template-columns: repeat(2,1fr);
  margin-top: 15px;
  gap: 10px;
}

.s-section3 .right .bottom .left{
  position: relative;
  color: white;
  margin: 0px 0px 0px 0px;
}
.s-section3 .right .bottom .left .img2 img{
  width: 100%;
  height: 240px;
}

.s-section3 .right .bottom .left .text{
  position: absolute;
  top: 0px;
  left: 0px;
}
.s-section3 .right .bottom .left .text h2{
  font-size:20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 160px 0px 0px 55px;

}
.s-section3 .right .bottom .right{
  position: relative;
  color: white;
}
.s-section3 .right .bottom .right .img2 img{
  width: 100%;
  height: 240px;
}
.s-section3 .right .bottom .right .text{
  position: absolute;
  top: 0px;
  left: 0px;
}


.s-section3 .right .bottom .right .text h2{
  font-size:20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 160px 0px 0px 55px;


} 
* section4  */
.s-section4 .year{
  position: relative;
}
.s-section4 .img3 img{
height:700px;  
width: 112%;
}
.s-section4 .text{
  position: absolute;
  top: 0px;
  left: 0px;
  display: flex;
  flex-direction: column;
  width: 100%;
}
.s-section4 .text .left{
  margin: 100px 0px 0px 100px;
  width: 100%;
}
.s-section4 .text .left h1{
  font-size: 35px;

}
.s-section4 .text .left p{
  font-size: 19px;
  margin: 25px 100px 25px 0px;
  line-height: 35px;
  text-align: left;

}
.s-section4 .text .left h4{
  font-size: 50px;

}
.s-section4 .text .left h4 em{
  font-size: 25px;
}
.s-section4 .text .right{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  margin: 100px 0px 0px 100px;
  gap: 0px 0px;


}
.s-section4 .text .right .happy h6{
  font-size: 18px;
  font-weight: 300;
  text-align: left;


}
.s-section4 .text .right .happy h1{
  margin-top: 25px;
  font-size: 40px;
}
.s-section4 .text .right .happy i{
font-size: 25px;
padding: 20px;
margin-top: 20px;
} 
/* gallary  */
.g-section2 {
  height:56rem;
}
.g-section2  .box{
 display: grid;
 grid-template-columns: repeat(3,1fr);
 width: 100%;
 gap: 10px 0px;
 padding: 10px 10%;
 height: 350px;

}
/* contact  */

.c-section2 .contact-form .row{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 15px;
  margin-top: 50px ;
}



  }