*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
/* body{
    background-color: red;
} */
.co{
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url("https://p.w3layouts.com/demos_new/template_demo/05-06-2019/commute_demo_Free/1199547472/web/images/banner1.jpg");
    height: 600px;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    z-index: 0;
    
}
/* header  */
header .header{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    /* border: 1px solid red; */
   
}
header .header .left{
    width: 35%;
}
header .header .left h1{
    font-size: 40px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
    margin: 10px 10px 10px 20% ;
    color: whitesmoke;

}
header .header .right{
    width: 64%;
}
header .header .right ul{
    list-style: none;
    margin-top: 37px;
    text-align: end;

}
header .header .right ul li{
    display: inline;
    margin: 12px;

}
header .header .right ul li a{
    text-decoration: none;
    font-size: 19px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: whitesmoke;
}
/* section1  */
.section1{
    position: relative;
}

.section1 .main{
    position: absolute;
    top: 30%;
    left: 15%;
    text-align: center;
    color: whitesmoke;
    z-index: 1;
}
.section1 .main h1{
    font-size: 56px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 1%;
}
.section1 .main h4{
    font-size: 24px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 20px;
}
.section1 .main button{
    font-size: 20px;
    margin: 20px;
    background-color:transparent;
    color: whitesmoke;
    padding: 13px 20px;
    border: 1px solid whitesmoke;
}
/* .section2  */

.section2 .what h1{
    font-size: 40px;
    margin: 50px 0px;
    text-align: center;
}
.section2 .text{
    display: flex;
    width: 100%;
    height: 100%;

    flex-direction: unset;

    margin-bottom: 20px;
}
.section2 .text .Integer{
    width: 49%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap:30px 30px;
    margin:0px 50px;
}
.section2 .text .Integer .container{
    box-shadow: 10px 10px 5px rgb(244, 243, 240);
    text-align: center;
}
.section2 .text .Integer .container i{
    font-size: 60px;
    margin-top: 30px;

}
.section2 .text .Integer .container h1{
    font-size: 23px;
    margin-top: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
.section2 .text .Integer .container p{
    font-size: 20px;
    margin-top: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    opacity: .6;

}
.section2 .text .img2{
    width: 49%;
    margin:0px 50px 0px 0px;


}
.section2 .text .img2 img{
    height: 500px;
    width: 100%;

}
/* section3 */

.section3 .year{
    position: relative;
    color: white;
}
.section3 .img3 img{
    height: 400px;
    width: 100%;
}
.section3 .text{
    position: absolute;
    top: 0px;
    left: 0px;
    display: flex;
    width: 100%;
    flex-direction: unset;

}
.section3 .text .left{
    width: 49%;
    margin: 100PX 0PX 0PX 100PX ;
}
.section3 .text .left h1{
    font-size: 35px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.section3 .text .left p{
    font-size: 19px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 25px 50px 25px 0px ;
    text-align: left;
    line-height: 35px;
}
.section3 .text .left h4{
    font-size: 50px;
}
.section3 .text .left h4 em{
    font-size: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: normal;
}
.section3 .text .right{
    width: 49%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 0px 0px;
    margin: 100px 0px 0px 0px;
}
.section3 .text .right .happy h6{
    font-size: 18px;
    font-weight: 300px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.section3 .text .right .happy h1{
    font-size: 40px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 25px;
}
.section3 .text .right .happy i{
    font-size: 25px;
    background-color: white;
    color: black;
    border-radius: 50%;
    padding: 20px;
    margin: 20px;

}
/* section4 */
.section4 .people h1 {
   font-size: 40px;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   text-transform: capitalize;
   font-weight: 700;
   color: rgb(35, 34, 34);
   text-align: center;
   margin-top: 70px;
}

.section4 .text{
    display: flex;
    width: 100%;
    margin: 20px 0px 0px 100px; 
    
}